#logout {
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

#logout:hover {
    color: green;
}

#container {
    background-color: #c1e1ec;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#map {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(13, 25px);
    grid-template-columns: repeat(13, 25px);
    height: 325px;
    width: 325px;
}

.tile {
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dbdbdb;

}

.invisible {
    border: none;
    background-color: #c1e1ec;
}

.border-l {
    box-sizing: content-box;
    border-left: 2px solid #bdbdbd;
}

.border-t {
    box-sizing: content-box;
    border-top: 2px solid #bdbdbd;
}

.border-r {
    box-sizing: content-box;
    border-right: 2px solid #bdbdbd;
}

.border-b {
    box-sizing: content-box;
    border-bottom: 2px solid #bdbdbd;
}

#menu {
    background-color: white;
    width: 400px;
    height: 150px;
    border: 1px solid black;
    margin-top: 30px;

    display: grid;
    grid-template-rows: 25px auto;
    grid-template-columns: 50px 40px 50px auto;

}

.menu-item {
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.menu-selected, .inventory-selected {
    background-color: #d3d3d3;
}

#menu-display {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.inventory-slot-container {
    height: 50px;
    width: 25px;
    margin: 7px 7px;

    display: flex;
    flex-direction: column;
}

#inventory-slots {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.inventory-slot {
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;

    height: 25px;
    width: 25px;
}

.inventory-slot-number {
    height: 20px;
    width: 25px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
}

#inventory-actions {
    margin: 7px 7px;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

#info-div {
    margin: 7px 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex-grow: 1;
}

#info-div-top {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#info-div-tile {
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

#info-div-description {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

#world-name {
    margin-bottom: 30px;
}

#stats-container {
    margin: 7px 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stat-container {
    height: 25px;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;

    /* disable text highlighting */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}